<div class="ui inverted segment" style="border-radius: 0px; background-color: #113151;">
  <div class="ui inverted secondary pointing menu">
      
    <a class="item <%= path=='/'?'active':'' %>" href="/"> Home </a>
    <a class="item <%= path=='/about'?'active':'' %>" href="/about"> About </a>
    

    
    <div class="right menu">
      <a class="ui item <%= path=='/signup'?'active':'' %>" href="signup">Sign Up</a>
      <a class="ui item <%= path=='/login'?'active':'' %>" href="login">Login</a>
      <a class="ui item <%= path=='/profile'?'active':'' %>" href="profile">Profile</a>
    </div>
  </div></div>