<%- include('./includes/head.ejs') %>
    <title><%= pageTitle %> </title>
</head>
<body>
       
    <div class="ui segment">
        <h2 class="ui header"><%= pageTitle %></h2>
        <% if (formErr !="") { %>
          <div class="ui warning message">
            <div class="header"> <%= formErr%> </div>
          </div>
        <%}%>

        <% if (formSucc !="") { %>
          <div class="ui success message">
            <div class="header"> <%= formSucc%> </div>
          </div>
        <%}%>
        <!-- login form -->
        <form class="ui form" action="/reset_password" method="POST">
            <div class="field">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password">
              <input type="hidden" name="email" value="<%= useremail %>">
              <input type="hidden" name="token" value="<%= token %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </div>
            <div class="field">
              <label>Confirm Password</label>
              <input type="password" name="password_con" placeholder="Confirm Password">
            </div>
           
            <button class="ui button" type="submit">Reset Password</button>
          </form>
        
          
            
    </div>

</body>  
</html>